root = "."
tmp_dir = "tmp"

[build]
bin = "./tmp/main serve"
cmd = "sqlc generate && templ generate && go build -o ./tmp/main ."
delay = 1000
exclude_dir = [
  "static",
  "tmp",
  "vendor",
  "node_modules",
  "build",
  "internal/db/sqlc",
]
exclude_file = []
exclude_regex = [".*_templ.go"]
exclude_unchanged = false
follow_symlink = false
full_bin = ""
include_dir = []
include_ext = ["go", "templ", "svg", "sql"]
kill_delay = "0s"
log = "build-errors.log"
send_interrupt = false
stop_on_error = true

[color]
app = ""
build = "yellow"
main = "magenta"
runner = "green"
watcher = "cyan"

[log]
time = false

[misc]
clean_on_exit = false

[proxy]
enabled = true
proxy_port = 8001
app_port = 8000
