package template

templ Home() {
	@Base("Home", false) {
		<div class="flex flex-col items-center pt-20">
			<h1 class="text-6xl animate-flip-up">WOW SITE</h1>
			<a href="/userfinder" class="text-2xl link">user finder</a>
			<a href="/carfinder" class="text-2xl link">car finder (in progeress)</a>
			<input type="date"/>
		</div>
	}
}
